<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Usuario</title>
</head>
<body>
    <h2>Formulario de Usuario</h2>
    <form th:action="${#authorization.expression('hasRole(''ADMIN'')') ? '/usuarios/guardar' : '/perfil/guardar'}"
        th:object="${usuario}" method="post">
        <input type="hidden" th:field="*{id}" />

        <label for="user_name">Nombre de usuario:</label>
        <input type="text" th:field="*{userName}" id="user_name" required />

        <label for="password">Contraseña:</label>
        <input type="password" th:field="*{password}" id="password" required />

        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <label for="rol">Rol:</label>
            <select th:field="*{rol}" id="rol">
                <option value="ADMIN">ADMIN</option>
                <option value="USER">USER</option>
            </select>
        </div>
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
