<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro de Usuario</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
 
</head>
</head>
<body class="registro">
    <div class="registro-container">
        <h2>Crear cuenta</h2>

        <!-- Mensajes de éxito o error -->
        <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

        <form th:action="@{/registro/guardar}" th:object="${usuario}" method="post">
            <input type="hidden" th:field="*{idUsuario}" />

            <label for="documentoUsuario">Documento:</label>
            <input type="text" th:field="*{documentoUsuario}" id="documentoUsuario" required />

            <label for="nombreUsuario">Nombre:</label>
            <input type="text" th:field="*{nombreUsuario}" id="nombreUsuario" required />

            <label for="apellidoUsuario">Apellido:</label>
            <input type="text" th:field="*{apellidoUsuario}" id="apellidoUsuario" required />

            <label for="telefonoUsuario">Teléfono:</label>
            <input type="number" th:field="*{telefonoUsuario}" id="telefonoUsuario" required />

            <label for="correoUsuario">Correo:</label>
            <input type="email" th:field="*{correoUsuario}" id="correoUsuario" required />

            <label for="passwordUsuario">Contraseña:</label>
            <input type="password" th:field="*{password}" id="password" required />

            <button type="submit" class="ingresar">Registrar</button>
        </form>

        <form th:action="@{/login}" method="get">
            <button type="submit" class="crear">Ya tengo cuenta</button>
        </form>
    </div>
</body>
</html>
